@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

    @if(User.Identity!.IsAuthenticated)
    {
        <h1 class="display-4">Hoşgeldin @User.Identity.Name</h1>
    }
    else
    {
        <h2>Lütfen üye olunuz</h2>
    }

   
</div>
